<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add connectionString="Data Source=SRV-BIM-DB\BIM;Initial Catalog=DB_BIM_NameConvention;Integrated Security=True"
             name="MNCConnectionString"/>
    </connectionStrings>
</configuration>